# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are Summarized.

***Objectives:***
+ python
+ R
+ SQL
+ Scala
+ java
+ C++
+ julia

Some of the popular Languages that Data Scientists use are:
1. Python
2. sQL
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. SciPY
3. Pandas
4. Numpy

|Data Science Tools|
|------------------|
| Jupyter Notebook |
| Jupyter Lab |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
hours=200/60
hours

3.3333333333333335

## Author
Vinay Kumar B S